// out: ../style/competency.css, sourcemap: false, compress: true
.local_displace.competency {
  .competency-header {
    display: flex;
    border-bottom: 1px solid #ccc;
    background: #eee;
    padding: 5px 10px;

    div {
      font-weight: bold;
    }
    div:first-child {
      flex-grow: 1;
    }
  }

  .competency-children {
    //display: none;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.2s ease, opacity 0.4s ease;
  }

  .competency-row {
    .fa-folder-open {
      display: none;
    }

    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
  }

  .competency-row.open {
    .fa-folder-open {
      display: inline;
    }
    .fa-folder-close {
      display: none;
    }
    & + .competency-children {
      //display: block;
      max-height: 10000px; /* Large enough to accommodate content */
      opacity: 1;
    }
  }

  .addsingle {
    margin-left: 10px;
  }

  .removesingle {
    margin-left: 10px;
  }

  .competency-row {
    &:not(.used) .removesingle {
      display: none;
    }
    &.used .addsingle {
      display: none;
    }
  }
  .queue-pending {
    blur: 5px;
  }

  .displace-alert {
    &.danger {
      background-color: rgba(255, 0, 0, 0.3);
    }

    &.success {
      background-color: rgba(0, 255, 0, 0.3);
    }
  }

  .used:not(.displace-alert) {
    background: #0a78d1;
    color: white;
    //font-weight: bold;
    //.addsingle {
    //  display: none;
    //}
    //
    //.removesingle {
    //  display: inline-block;
    //}

    a {
      color: white;
    }
  }

  /* icon und text richtig ausrichten */
  .toggler {
    flex-grow: 1;
    i {
      margin-left: -22px;
    }
  }

  .shortname {
    padding-left: 6px;
  }

  .is-found .shortname {
    font-weight: bold;
  }

  .has-children {
    .toggler {
      cursor: pointer;
    }

    .toggler:hover span {
      text-decoration: underline;
    }
  }

  //td {
  //  transition: border-top-width 0.5s ease; /* Smooth transition for height */
  //}
}
