{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_displace/coursecompetenciesadd

    Show the current competencies used in a course.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * competencies

    Example context (json):
    {
        "courseid": 25,
        "frameworks": [
            {
                id: 1,
                shortname: "Framework 1",
                ...
            }
        ],
    }
}}
<div class="local_displace competency coursecompetenciesadd {{#initially_hidden}}hidden{{/initially_hidden}}">
    <input type="hidden" name="session_competencies" value="{{session_competencies}}"/>
    <div style="display: flex; justify-content: space-between;" class="mb-2">
        <div>
            <select name="frameworkid">
                {{#frameworks}}
                <option value="{{id}}"{{#selected}} selected="selected"{{/selected}}>
                    {{shortname}}
                </option>
                {{/frameworks}}
            </select>
        </div>
        <div class="simplesearchform">
            <div class="input-group" style="flex-wrap: nowrap">
              <label for="searchinput-{{uniqid}}">
                <span class="sr-only">{{#str}} search, core {{/str}}</span>
              </label>
              <input type="text"
                     class="form-control"
                     placeholder="{{#str}} search, core {{/str}}"
                     aria-label="{{#str}} search, core {{/str}}"
                     name="competency-search"
                     data-region="input"
                     autocomplete="off"
              >
              <div class="input-group-append" style="flex-shrink: 0"> {{! ohne flex-shrink wird das Suchformular nicht richtig angezeigt?!? }}
                <button type="submit" class="btn btn-primary search-icon">
                  {{#pix}} a/search, core {{/pix}}
                  <span class="sr-only">{{#str}} search, core {{/str}}</span>
                </button>
              </div>
            </div>
        </div>
    </div>

    <div id="local_displace-framework-container">
        <div>
            Lade Daten...
        </div>
    </div>

    <div id="local_displace-table-search-not-entries-found-message" class="hidden">
        <p>Keine Einträge gefunden</p>
    </div>
</div>

{{#js}}
require(['local_displace/competency'], function(C) { C.competenciesaddInit('{{uniqid}}')});
{{/js}}
