<div class="competency-root-container">
    <div class="competency-header">
        <div>{{#str}} competencies, local_displace {{/str}}</div>
        <div>{{#str}} actions {{/str}}</div>
    </div>
    {{{competencies_output}}}
</div>
