<div class="competency-root-container">
    <div class="competency-header">
        <div>{{#str}} coursecompetencies, tool_lp {{/str}}</div>
        <div>{{#str}} action {{/str}}</div>
    </div>
    {{{competencies_output}}}
</div>
