{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_displace/coursecompetenciesaddtree

    Show a node in the tree.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * competencies

    Example context (json):
    {
        "competencies": [
            {
                id: 1,
                shortname: "Competency 1",
                description: "",
                depth: 0,
                ...
                competencies: [
                    id: 1,
                    shortname: "Competency 1",
                    description: "",
                    depth: 0,
                    ...
                    competencies: [
                        ...
                    ],
                ],
            }
        ],
    }
}}


<li>
    {{#haschildren}}
    <a href="#" style="width: 18px;"
        onclick="$(this).closest('li').children('ul').toggleClass('hidden'); return false;">
        <i class="fa fa-plus-square"></i>
    </a>
    {{/haschildren}}
    {{^haschildren}}
    <a href="#" onclick="return false;" style="width: 18px;">
        &nbsp;
    </a>
    {{/haschildren}}
    {{#isused}}
    <a href="#" style="width: 18px;"
        onclick="$(this).closest('li').children('ul').toggleClass('hidden'); return false;">
        <i class="far fa-eye"></i>
    </a>
    {{/isused}}
    {{^isused}}
    <a href="#" onclick="return false;" style="width: 18px;">
        <i class="far fa-eye-slash"></i>
    </a>
    {{/isused}}
    <a href="#" onclick="var a = this; require(['local_displace/competency'], function(C) { C.modalDescription(a); }); return false;">
        {{#shortentext}} 90, {{{shortname}}} {{/shortentext}}
        <div class="shortname hidden">
            {{shortname}}
        </div>
        <div class="description hidden">
            {{description}}
        </div>
    </a>
    <ul class="{{#hide}}hidden{{/hide}}" style="list-style-type: none;">
    {{#competencies}}
        {{>local_displace/competency/coursecompetenciesaddtree}}
    {{/competencies}}
    </ul>
</li>
